<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>新闻详情</title>
    <link href="../css/Hui.css" rel="stylesheet" />
    <link href="../css/info_body.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
            <div class="H-flex-item H-padding-10">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block H-text-align-center">{{ title }}</strong>
                <div class="H-font-size-14 H-theme-font-color-999  H-margin-vertical-top-2">
                    <span class="H-icon H-position-relative H-display-block H-float-left H-vertical-middle H-theme-font-color1 H-padding-horizontal-both-10 H-z-index-1000">
                        <i class="H-iconfont H-icon-http H-font-size-15 H-vertical-middle"></i>
                        &nbsp;&nbsp;{{ news_source }}
                    </span>
                    <span class="H-icon H-position-relative H-display-block H-float-right H-vertical-middle H-theme-font-color1 H-padding-horizontal-both-10 H-z-index-1000">
                        <i class="H-iconfont H-icon-time H-font-size-15 H-vertical-middle"></i>
                        &nbsp;&nbsp;2019.03.20
                    </span>
                </div>
            </div>
        </div>
        <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
            <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12" style="line-height: 29px;">
                <!--新华社北京3月27日电 题：行久以致远——习近平主席2019年首访赴欧洲三国纪实-->

                <!--新华社记者霍小光 郝薇薇-->

                <!--自亚欧大陆东端，沿古丝绸之路方向一路往西，飞越亚平宁半岛，南下西西里、北上法兰西。国家主席习近平2019年首次出访，来到了欧洲。-->

                <!--意大利、摩纳哥、法国。3月21日至26日，6天5夜，三国五城，出席40多场双多边活动，话友谊、论责任、谈合作、谋发展……“我们对时间的理解，是以百年、千年为计。”习近平主席这样对意大利总理孔特说。面对世界百年未有之大变局，中国同欧洲，赓续时间积淀的友谊，承载时代赋予的使命，为世界和平稳定，为全球发展繁荣，携手前行。-->

                <!--友谊篇-->

                <!--“欧洲是多极化世界的重要一极，也是中国最重要的合作伙伴之一。因此2019年首次出访，我选择了欧洲。”-->

                <!--新时代中国外交格局中，足见欧洲地位之重。-->

                <!--欧洲大陆张开热情的双臂欢迎这位文明悠久的东方大国的领袖，传递对中国人民的友好情谊。-->

                <!--意大利，文艺复兴的摇篮。-->

                <!--“习主席来了！”“习近平出访欧洲，首站意大利！”……中国国家元首时隔10年再次到访，令意大利各界十分兴奋，当地主流媒体第一时间发出报道。-->

                <!--3月21日傍晚，习近平主席乘坐专机，从“千年古都”北京飞抵“永恒之城”罗马。-->

                <!--奎里纳莱宫，意大利总统府，因收藏着大量艺术珍品而闻名于世。3月22日上午，马塔雷拉总统在这里为习近平主席举行盛大欢迎仪式。马蹄阵阵，踏响古道，在威武挺拔的意大利骑兵护卫下，习近平主席夫妇乘车抵达内庭广场。这是近10年来意大利首次在欢迎外国元首的仪式中安排马队迎接。-->

                <!--老友相见，分外亲切。两位元首一同走进总统书房，促膝而谈。热烈欢迎习近平主席，意中保持密切高层交往，充分显示了两国关系的高水平。-->

                <!--欢迎宴会，名流荟萃。著名足球教练里皮应邀参加。“我知道习主席也热爱足球运动，所以虽然同习主席是第一次见面，但感觉就像认识了很久一样”，里皮在接受意大利媒体采访时说，习近平主席领导着一个精彩的国家，同习主席握手荣幸之至。-->

                <!--翌日，奎里纳莱宫再次为中国贵宾打开大门。马塔雷拉总统特意为即将结束访问的习近平主席安排了隆重欢送仪式。一本记录这次访问的纪念相册送到习近平主席手中，一个个难忘瞬间成为中意友谊的新见证。-->

                <!--摩纳哥，地中海岸的明珠。-->

                <!--从古朴的街道到繁忙的港口，中摩两国国旗迎风招展。一尊可爱的大熊猫雕塑矗立在街心花园，独具魅力的“袖珍之国”用浓郁的中国元素欢迎中国国家元首首次到访。-->

                <!--2018年9月访华期间，阿尔贝二世亲王向习近平主席发出访摩邀请。-->

                <!--对于这个国土面积只有2平方公里、人口不到4万人的国家，习近平主席这次访问，无疑是对中国所奉行的大小国家一律平等外交理念的生动诠释。-->

                <!--“没有想到习主席这么快就能来访问，对我来说，这是极大的荣幸。”面对媒体，阿尔贝二世亲王表达了内心的想法。-->

                <!--融合多种建筑风格的摩纳哥王宫雄浑大气。王宫里，王室珍藏的中式家具格外醒目。阿尔贝二世亲王将习近平主席请进挂满格里马尔迪王朝历代国王肖像的家族厅，介绍家族历史，畅叙家国情怀。-->

                <!--法国，拥有独特文明的国度。-->

                <!--时隔5年，习近平主席再次对法国进行国事访问，首站安排在法国南部滨海城市尼斯。-->

                <!--24日，马克龙总统夫妇专程从巴黎赶来，在具有古希腊建筑风格的海燕别墅同习近平主席亲切会面，共进晚餐。-->

                <!--马克龙总统向习近平主席介绍欧洲的文艺复兴和开放精神，习近平主席对马克龙总统讲起中法两国冲破冷战藩篱、打开交往大门的友好历史。-->

                <!--“两国人民有着特殊友好感情，这是一笔宝贵的财富。我们要继承好，发扬好，使中法关系继续走在时代发展前列。”习近平主席语重心长。-->

                <!--两位元首纵论古今，意犹未尽，晚宴比原定时间延长了一个多小时。马克龙总统连夜赶回巴黎，为在首都迎接习近平主席再做准备。-->

                <!--第二天中午，当习近平主席专机从尼斯飞赴巴黎时，两架法国空军战机全程护航。为了体现不一样的安排，马克龙总统将欢迎仪式放在凯旋门举行。法兰西共和国卫队和陆海空三军仪仗队英姿挺拔，激昂的军乐从星形广场传向四方。-->

                <!--在摩托车队护卫下，习近平主席乘车前往爱丽舍宫，100多名法兰西共和国卫队骑兵整齐列队、夹道欢迎。-->

                <!--爱丽舍宫总统办公室里气氛融洽，两位元首亲切交谈。-->
            {{news_centent}}</div>
        </div>
        <p class="H-text-align-center">
           
            <button @click="pingLunAdd()" class="H-button H-font-size-15 H-outline-none H-padding-vertical-both-2 H-padding-horizontal-both-20 H-theme-background-color2 button-bg H-theme-font-color-white H-theme-border-color2 H-theme-border-color2-click H-theme-background-color2-click H-theme-font-color2-click H-border-radius-3">
                <i class="H-iconfont H-icon-msg H-float-left H-font-size-18 H-vertical-middle"></i>
                <span class="H-float-left H-padding-horizontal-left-10 H-padding-vertical-top-3">评论</span>
            </button>
        </p>
        <div v-for=" (item,index) in newslist " class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
            <div class="H-padding-vertical-both-8">
                <img id="face" v-bind:src="item.touxiang" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
            </div>
            <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                <div class="H-theme-font-color-999 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-15 H-theme-font-color1">{{item.user_name}}</span>
                    <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12">{{index+1}}楼</span>
                </div>
                <div class="H-font-size-14 H-margin-vertical-top-5 H-font-size-12">
                    <div>
                        {{item.evaluate_context}}
                    </div>
                    <div v-if="item.ishuifu" class="H-padding-5 H-margin-vertical-both-5 H-border-radius-3 H-theme-background-color-eee">
                        <span class="H-theme-font-color1">{{item.huifuren}}：</span>{{item.huifuneirong}}
                    </div>
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-padding-vertical-top-3 H-font-size-12" id="address">
                    {{item.evaluate_datetime}}<span class="H-theme-font-color1 H-float-right" v-if="item.isshanchu">删除</span>
                </div>
            </div>
        </div>
    </div>
  
    <script src="../script/jquery-2.1.4.min.js"></script>
    <script src="../script/api.js"></script>
    <script src="../js/H.js"></script>
    <script src="../js/vue2.6.mini.js"></script>
    <script type="text/javascript">
        var pageParam = null;
        var newslist=new Array()
        H.ready(function () {
            pageParam = api.pageParam;
            // alert(pageParam.news_content)
            var vm = new Vue({
                el: '#app',
                data: {
                    title: pageParam.news_title,
                    news_source: pageParam.news_source,
                    news_centent:pageParam.news_content,
                    // pinglunlist: [
                    //     // {
                    //     //     id: 0,
                    //     //     touxiang: '../images/user-logo-001.png',
                    //     //     nicheng: 'zyy',
                    //     //     pinglunneirong: '谢谢支持！我们也会一直努力的！',
                    //     //     ishuifu: true,
                    //     //     huifuren: '张家',
                    //     //     huifuneirong: '这个电视剧看的我都流泪了！',
                    //     //     xiugaitime: '2019-03-19 10:12:12',
                    //     //     isshanchu: true
                    //     // },
                    //     // {
                    //     //     id: 1,
                    //     //     touxiang: '../images/user-logo-002.png',
                    //     //     nicheng: '郭佳佳',
                    //     //     pinglunneirong: '感觉这个还不错吧，其实挺好的，你觉着呢？',
                    //     //     ishuifu: true,
                    //     //     huifuren: '名声',
                    //     //     huifuneirong: '还行吧，你不能要求太高呢，你说对吧！',
                    //     //     xiugaitime: '2019-03-18 10:12:12',
                    //     //     isshanchu: false
                    //     // },
                    //     {
                    //         evaluate_id: 2,
                    //         user_photo: '../images/user-logo-003.png',
                    //         user_name: '美猴王',
                    //         evaluate_context: '哈哈，俺老孙来也？',
                    //         ishuifu: false,
                    //         huifuren: '',
                    //         huifuneirong: '',
                    //         evaluate_datetime: '2019-03-18 10:12:12',
                    //         isshanchu: false
                    //     }
                    // ]
                },
                created: function () {
                    // alert("chenjunshi")
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: "http://192.168.43.5:8080/news/common/evaluate/getEvaluateById",
                        data: {
                            news_id:pageParam.news_id,
                        },
                        dataType: "json",
                        success: function (data) {
                            if(null!=data){
                                // alert(data.length);
                                for(var i=0;i<data.length;i++){
                                    newslist.push(data[i]);
                                    // alert(newslist.length);
                                }
                            }
                        },
                        error: function (e) {
                            alert("错误信息：" + JSON.stringify(e));
                        }
                    });
                },

                methods: {
                     // 初始化评论
                    // init: function () {
                    //     // alert("chen");
                    //     // alert(pageParam.news_id);
                    //     $.ajax({
                    //         type: "POST",
                    //         async: false,
                    //         url: "http://192.168.43.5:8080/news/common/evaluate/getEvaluateById",
                    //         data: {
                    //             news_id:pageParam.news_id,
                    //         },
                    //         dataType: "json",
                    //         success: function (data) {
                    //             if(null!=data){
                    //                 aler(data.length);
                    //             }
                    //         },
                    //         error: function (e) {
                    //             alert("错误信息：" + JSON.stringify(e));
                    //         }
                    //     });
                    // },
                    //=====================评论
                    pingLunAdd: function () {
                        var user = H.getStorage("user");
                        if(user!=null) {
                            H.promptTip(function (ret) {
                                if (ret.buttonIndex == 1) {
                                    if (ret.text.length > 0) {

                                        var newItem = {
                                            evaluate_id: (newslist.length + 1),
                                            user_name: user.userName,
                                            evaluate_context: ret.text,
                                            news_id: pageParam.news_id,
                                            user_id: user.id
                                            // evaluate_datetime: new Date().toLocaleString()
                                            // evaluate_datetime: new Date().toLocaleString()
                                        }
                                        $.ajax({
                                            type: "POST",
                                            async: false,
                                            url: "http://192.168.43.5:8080/news/common/evaluate/insertEvaluate",
                                            data: JSON.stringify(newItem),
                                            // data:{
                                            //     newitem:newItem,传对象必须SJON.stringify
                                            // },
                                            dataType: "json",
                                            contentType:"application/json",

                                            success: function (data) {
                                                if(null!=data){
                                                    alert("添加成功l");
                                                }
                                            },
                                            error: function (e) {
                                                alert("错误信息：" + JSON.stringify(e));
                                            }
                                        });
                                        // vm.pinglunlist.unshift(newItem);
                                    }
                                }
                            }, '评论', '请输入评论内容：', '');
                        }else {
                            H.toast("请先进行登录");
                            return;
                        }
                    }
                }
            });
        });

    </script>
</body>

</html>